@use"../sass/main.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Styling */
$scrollbar-width: 12px;
$scrollbar-track-color: #ebebeb;
$scrollbar-thumb-color: #d73e0f;

::-webkit-scrollbar {
    width: $scrollbar-width;
}

::-webkit-scrollbar-track {
    background-color: $scrollbar-track-color;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
}

.marque-container .Marquee-content {
    animation: marquee 20s linear infinite running;
}

.marque-container .Marquee-content:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translate(-50%);
    }
}

@-webkit-keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translate(-50%);
    }
}

@-o-keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translate(-50%);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translate(-50%);
    }
}